<!DOCTYPE html>
<html>
<head>
	<title>HCI</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>
<body style="padding-top: 100px">
	<nav class="navbar navbar-expand-lg py-3 fixed-top navbar-light bg-light">
		<div class="container">
			<!-- Header -->
			<div class="navbar-brand">
				CSE 556: Into to Human Computer Interaction
			</div>

			<button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollaspe" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>

			<!-- nav -->
			<div id="navbarCollapse" class="navbar-collapse collapse justify-content-end">
				<ul class="nav navbar-nav">

					{# Calendar #}
					<li class="nav-item">
						<a class="nav-link 
						{% if 'calendar' in request.get_full_path %}
							active
						{% endif %}" href="calendar.html">Calendar</a>
					</li>

					{# Porjects #}
					<li class="nav-item 
						{% if 'projects' in request.get_full_path  %}
							active
						{% endif %}">
						<a class="nav-link" href="projects.html">Projects</a>
					</li>

					{# Course Dropdown #}
					<li class="nav-item dropdown 
						{% if 'course' in request.get_full_path  %}
							active
						{% endif %}">
						<a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Course</a>
						<div class="dropdown-menu " aria-labelledby="dropdown">
			              <a class="dropdown-item" href="course.html">Course Details</a>
			              <a class="dropdown-item" href="course.html#hours">TA Hours</a>
			              <a class="dropdown-item" href="course.html#grades">Grading</a>
			            </div>
					</li>

					{# Piazza and BlackBoard #}
					<li class="nav-item">
						<a class="nav-link" href="piazza.html" target="_blank">Piazza</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="blackboard.html" target="_blank">BlackBoard</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<main class="container-fluid justify-content-center">
			
		{% block core %}
			
		{% endblock core %}

	</main>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

</body>
</html>