{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>HCI</title>
	
	<link rel="stylesheet" href={% static "bootstrap.min.css" %}>

	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	{# Shift widow down #}
	<script>
		 $(document).ready(function(){    
		  var shiftWindow = function() { scrollBy(0, -100) };
		  if (location.hash) shiftWindow();
		  window.addEventListener("hashchange", shiftWindow);
		});
 	</script>

</head>
<body style="padding-top: 100px">
	<nav class="navbar navbar-expand-lg py-3 fixed-top navbar-light bg-light">
		<div class="container">
			<!-- Header -->
			<img class="navbar-brand" src={% static "Brookings_Seal.png" %} width="30px">
			<div class="navbar-brand">
				CSE 556: Intro to Human Computer Interaction
			</div>

			<button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollaspe" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		    </button>

			<!-- nav -->
			<div id="navbarCollapse" class="navbar-collapse collapse justify-content-end">
				<ul class="nav navbar-nav">

					{# Calendar #}
					<li class="nav-item">
						<a class="nav-link 
						{% if 'calendar' in request.get_full_path %}
							active
						{% endif %}" href={% url 'calendar' %}>Calendar</a>
					</li>

					{# Projects #}
					<li class="nav-item">
						<a class="nav-link 
						{% if 'project' in request.get_full_path %}
							active
						{% endif %}" href={% url 'project' %}>Project</a>
					</li>

					
					{# Projects Dropdown #}
					{% comment %}
					<li class="nav-item dropdown 
						{% if 'projects.html' in request.get_full_path  %}
							active
						{% endif %}">
						<a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Project</a>
						<div class="dropdown-menu " aria-labelledby="dropdown">
			              <a class="dropdown-item" href="
			              {% url 'project' %}">Overview</a>
			              <a class="dropdown-item" href="
			              {% url 'project' %}#pitch">Project Pitch</a>
			              <a class="dropdown-item" href="
			              {% url 'project' %}#milestone1">Milestone 1</a>
			              <a class="dropdown-item" href="
			              {% url 'project' %}#milestone2">Milestone 2</a>
			              <a class="dropdown-item" href="
			              {% url 'project' %}#milestone3">Milestone 3</a>
			              <a class="dropdown-item" href="
			              {% url 'project' %}#milestone4">Milestone 4</a>
			            </div>
					</li>
					{% endcomment %}


					{# Course Dropdown #}
					<li class="nav-item dropdown 
						{% if 'course' in request.get_full_path  %}
							active
						{% endif %}">
						<a class="nav-link dropdown-toggle" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Course</a>
						<div class="dropdown-menu " aria-labelledby="dropdown">
			              <a class="dropdown-item" href="{% url 'course' %}">Course Details</a>
			              <a class="dropdown-item" href="{% url 'course' %}#hours">Office and TA Hours</a>
			              <a class="dropdown-item" href="{% url 'course' %}#grades">Grading</a>
			            </div>
					</li>

					{# Piazza and BlackBoard #}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'piazza' %}" target="_blank">Piazza</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'blackboard' %}" target="_blank">BlackBoard</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<main class="container justify-content-center">
			
		{% block core %}
			
		{% endblock core %}

	</main>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
		<script src={% static "bootstrap.min.js" %}></script>

</body>
</html>