{% extends "base.html" %}
			
{% block core %}
	<!-- Calendar -->
		
		{# Today Cal #}

		<h3><a href="#today">Next Class</a> : {{next_class.date|date:'Y-m-d'}} </h3>

		<hr>
			<div class="row">
				<div class="col-12">
					<table class="table table-striped">
						  <thead class="thead-light">
						    <tr>
						      <th scope="col">Date</th>
						      <th scope="col">Lecture Topics</th>
						      <th scope="col">Readings For Today</th>
						      <th scope="col">Events</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row"> {{next_class.date|date}} </th>
						      <td>
						      	{% if next_class.url %}
						      		<a href="{{next_class.url}}">{{next_class.title}}</a>
						      	{% else %}
						      		{{next_class.title}}
						      	{% endif %}
						      </td>
						      <td>
						      	{% for reading in next_class.reading_set.all %}
						      		<a href="{{reading.url}}" target="_blank">{{reading.title}}</a>
						      	{% endfor %}
						      </td>
						      <td>
						      	{% for event in next_class.event_set.all %}
						      		<a href="{{event.url}}">{{event.title}}</a>
						      	{% endfor %}
						      </td>
						    </tr> 
						  </tbody>
					</table>
				</div>
			</div>

		<br>

		{# Main Cal #}
		<h3>Calendar</h3>	
		<hr> 

		<div class="row">
			<div class="col-12">
				<table class="table table-striped">
					  <thead class="thead-light">
					    <tr>
					      <th scope="col">Date</th>
					      <th scope="col">Lecture Topics</th>
					      <th scope="col">Readings For Today</th>
					      <th scope="col">Events</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for cp in object_list %}
					    <tr>
					    	{% if cp == next_class %}
					    		<th scope="row" id="today"> {{cp.date|date}} </th>
					    	{% else %}
					    		<td scope="row"> {{cp.date|date}} </td>
					    	{% endif %}
					      
					      <td>
					      	{% if cp.url %}
					      		<a href="{{cp.url}}">{{cp.title}}</a>
					      	{% else %}
					      		{{cp.title}}
					      	{% endif %}
					      </td>
					      <td>
					      	{% for reading in cp.reading_set.all %}
					      		<div><a href="{{reading.url}}" target="_blank">{{reading.title}}</a></div>
					      	{% endfor %}
					      </td>
					      <td>
					      	{% for event in cp.event_set.all %}
					      		<a href="{{event.url}}">{{event.title}}</a>
					      	{% endfor %}
					      </td>
					    </tr>
						{% endfor %}		
					    
					  </tbody>
				</table>
			</div>
		</div>
	
{% endblock core %}
		

