{% extends "base.html" %}
			
{% block core %}
	<!-- Calendar -->
		
		{# Today Cal #}

		<h3>Today - {{now|date:'Y-m-d'}}</h3>
		<hr>
			<div class="row">
				<div class="col-12">
					<table class="table table-striped">
						  <thead class="thead-light">
						    <tr>
						      <th scope="col">Date</th>
						      <th scope="col">Lecture Topics</th>
						      <th scope="col">Readings For Today</th>
						      <th scope="col">Events</th>
						    </tr>
						  </thead>
						  <tbody>
						  	{% for cp in object_list %}
						  	{% if cp.date|date:'Y-m-d' == now|date:'Y-m-d'%}
						    <tr>
						      <th scope="row"> {{cp.date|date}} </th>
						      <td><a href="{{cp.slide_url}}">{{cp.slide}}</a></td>
						      <td><a href="{{cp.reading_url}}">{{cp.reading}}</a></td>
						      <td><a href="{{cp.events_url}}">{{cp.events}}</a></td>
						    </tr>
							{% endif %}	
							{% endfor %}	
						    
						  </tbody>
					</table>
				</div>
			</div>
		<hr>

		{# Main Cal #}
		<div class="row">
			<div class="col-12">
				<table class="table table-striped">
					  <thead class="thead-light">
					    <tr>
					      <th scope="col">Date</th>
					      <th scope="col">Lecture Topics</th>
					      <th scope="col">Readings For Today</th>
					      <th scope="col">Events</th>
					    </tr>
					  </thead>
					  <tbody>
					  	{% for cp in object_list %}
					    <tr>
					      <th scope="row"> {{cp.date|date}} </th>
					      <td><a href="{{cp.slide_url}}">{{cp.slide}}</a></td>
					      <td><a href="{{cp.reading_url}}">{{cp.reading}}</a></td>
					      <td><a href="{{cp.events_url}}">{{cp.events}}</a></td>
					    </tr>
						{% endfor %}		
					    
					  </tbody>
				</table>
			</div>
		</div>
	
{% endblock core %}
		

