{% extends "base.html" %}
			
{% block core %}


		
	<div id="course-details">
		<div class="row">
			<h3>Course Details</h3>
		</div>
		<hr>

		<div class="container-fluid">

			<p>This course serves as an introduction to user centered design processes. We will cover a variety of HCI techniques for use at different stages in the software development cycle, including techniques that can be used with and without users. Students will gain experience using these techniques through in-class exercises and then apply them in greater depth through a semester long interface development project. Students who enroll in this course are expected to be comfortable with building user interfaces in at least one framework and be willing to learn whatever framework is most appropriate for their project. Over the course of the semester, students will be expected to present their interface evaluation results through written reports and in class presentations. 
			<br>
			Prerequisites: A 300 or 400 level systems course (i.e. CSE 3xxS or CSE 4xxS).
			<br>
			Students who complete this course successfully will be able to:
			<ul>
			<li>Apply user-centered design processes throughout the design of new software systems. </li>
			<li>Critically evaluate the quality of different types of user information based on collection methodology. </li>
			<li>Develop and refine designs for new software systems that consider usability concerns from the outset. </li>
			<li> Compare the strengths and weaknesses of different HCI techniques for a given design problem. </li>
			</ul> 
		</div>

	</div>
		
	<br><br><br>
	<div id="hours" >
		<div class="row">
			<h3>Office and TA Hours</h3>
		</div>
		<hr>


		
		<!-- Office Hour Calendar Calendar -->
		<div class="container-fluid">
			<div class="row">	
				<div class="col-12">
					<table class="table table-striped">
						  <thead class="thead-light">
						    <tr>
						      <th scope="col">Who</th>
						      <th scope="col">Location</th>
						      <th scope="col">Day</th>
						      <th scope="col">Time</th>					      
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <th scope="row">Professor Kelleher</th>
						      <td>Jolley 512</td>
						      <td>Monday</td>
						      <td>1:00PM - 2:30PM</td>
						    </tr>
						    <tr>
						      <th scope="row">Professor Kelleher</th>
						      <td>Jolley 512</td>
						      <td>Wednesday</td>
						      <td>1:00PM - 2:30PM</td>
						    </tr>
						    <tr>
						      <th scope="row">Inna Teger (TA)</th>
						      <td>Urbauer 222</td>
						      <td>Tuesday</td>
						      <td>5:30PM - 7:00PM</td>
						    </tr>
						    <tr>
						      <th scope="row">Inna Teger(TA)</th>
						      <td>Urbauer 222</td>
						      <td>Thursday</td>
						      <td>5:30PM - 7:00PM</td>
						    </tr>
						    <tr>
						      <th scope="row">Beau Lean (TA)</th>
						      <td>Urbauer 210</td>
						      <td>Friday</td>
						      <td>11:00AM - 2:00PM</td>
						    </tr>
						  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<br><br><br>
	<div id="grades">

		<div class="row">
			<h3 class="col-4">Grading</h3>
			<div class="col-4 ml-auto d-flex align-items-center justify-content-end">
		         <a href='https://wustl.blackboard.com/webapps/blackboard/execute/modulepage/view?course_id=_173884_1&cmp_tab_id=_364490_1&mode=view' target="_blank" class="btn btn-sm btn-outline-primary">View Grades on Blackboard</a>
		    </div>
		</div>
		<hr>

		<div class="container-fluid">

			<h5>Group Design Project (61%)</h5>
			<br>

			Everyone will participate in a semester-long HCI design project which will provide an opportunity to use the techniques we cover in class in much greater depth. The design project consists of several parts: <br>
			<ol>
			<li>Project Pitch (1%) : The project pitches will be done individually. Every class member will pitch an idea for a project and then we will assemble groups based on interest. </li>
			<li>Milestone 1 (15%) : This milestone focuses on gathering and organizing requirements information from users. </li>
			<li>Milestone 2 (15%) : This milestone focuses on designing and developing low fidelity prototypes. </li>
			<li>Milestone 3 (15%) : During this milestone, groups will create a high fidelity prototype </li>
			<li>Milestone 4 (15%:): In the final milestone, groups will refine their prototypes with additional testing and analysis. </li>
			</ol>
			See the <a href="/projects.html">Projects Page</a> for more information. 
			<br>
			<br> 
			<h5>Reading Summaries (7%)</h5>

			You can find the list of topics and their required readings for the semester here. Occasionally, I will also post additional resources you may find interesting (marked optional). To enable us to experiment with applying HCI techniques during class, you should read each of the required readings before the class meeting. For each reading, you are expected to submit a summary (~1 page) and a question. A lot of HCI sounds straightforward when you read about it, but is anything but straightforward when you start to try to apply the ideas. The act of coming up with a question helps to get you thinking about using the material you've just read. Readings are due by midnight the night before class in order to allow me to review questions before class so I can be sure they get addressed. This is absolutely not intended to discourage questions in class, but I've found that the readings questions really help me to focus our class time on the areas where people are confused. 

			<br><br>I will grade the reading summaries using a check (100%) and check-minus (70%) for on-time submissions. 
			<br> <br> 
			<h5>In-Class Designs (7%)</h5>

			We will do a lot of in-class, small group work to try out different HCI techniques. The goal of these sessions is to allow you to get a feel for how each technique works in advance of using it within your own projects. I will ask each group to submit some portion of their design work and the names of group members at the end of the class so that those who participated can receive credit. Everyone who participates will receive full credit. We will not do this during every class, but most classes will have some group work.
			<br><br>
			<h5>Midterm (25%)</h5>

			There will be one (very late) midterm in this class. We will use the final exam slot for the Milestone 4 presentations.

			<br><br>
			<h5>Late Policy</h5>

			Readings are due by midnight the night before class. Readings submitted after midnight but within three days of the deadline will get a maximum of 7/10 points for strong summaries and 4/10 for weak summaries. Submissions received after that will get no credit.

			<br><br>In Class Designs (class participation) are due in class. These cannot be made up. However, each student can miss up to two without penalty. We will do in class design work in most, but not all classes.

			<br> <br> Group Design Milestones are due by the start of class on their due date. Late submissions will be penalized two percentage points per hour. 
			<br><br><br><br>
		</div>
	</div>
		

	
{% endblock core %}