{% extends "base.html" %}
			
{% block core %}


		
		<div id="course-details">
			<h3 >Course Details</h3>
			<hr>

			<br><br><br><br><br><br><br><br><br><br><br>

		</div>
		
		<div id="hours">
			<br><br><br><br>
			<h3>Office and TA Hours</h3>
			<hr>
			<br><br><br><br><br><br><br><br>
		</div>



		<div id="grades">
			<br><br><br><br>
			<h3>Grades</h3>
			<hr>

			<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
		</div>
		

	
{% endblock core %}