{% extends "base.html" %}
			
{% block core %}

	

<h3>HCI Design Project</h3>
<hr>
<p>Everyone will participate in a semester-long HCI design project which will provide an opportunity to use the techniques we cover in class in much greater depth.
</p>

<p>The design project consists of several parts:</p>
<h6><a href = "#pitch" >Project Pitch: </a>Due 9/15</h6>
<h6><a href = "#milestone1" >Milestone 1: </a>   Due 10/11</h6>
<h6><a href = "#milestone2" >Milestone 2: </a>Due 10/30</h6>
<h6><a href = "#milestone3">Milestone 3: </a>Due 11/21</h6>
<h6><a href = "#milestone4"> Milestone 4: </a>Due 12/9</h6>
<br>

{# Project Pitch #}
<div id="pitch">
   <div class="row">
      <h3 class="col-5">Project Pitch (Due 9/15)</h3>
      <div class="col-2 ml-auto d-flex align-items-center">
         <a href='submit.html' target="_blank" class="btn btn-primary">Submit</a>
      </div>
   </div>
   <hr>
   <div class="container-fluid">
      <p>Over the course of the semester, everyone will work on a group project. To select the projects and the groups, everyone in the class will present an idea for a project. Then, we'll select 3-5 of the projects presented as the group projects for the semester based on interest.
         For this assignment, you'll need to deliver a 1-2 minute in-class presentation describing your proposed project. The goal of the project pitch is to entice others to vote for your project. All pitches received on time will receive full credit. In trying to convince others to vote for your project, you should address the following questions:
      </p>
      <ul>
         <li>1. What problem do you propose to address?
            Identify your audience and describe a concrete problem that audience has that you intend to solve. 
         </li>
         <li>2. What kind of technology might address the problem?
            What kind of solution do you envision for this problem? How will it impact your proposed audience? 
         </li>
         <li>3. Is your proposal achievable? 
            Are there code resources you can leverage to ease development?
         </li>
      </ul>
      Over the four milestones, you'll need to do a fair amount of user testing, which means that you'll need a pool of users. How will you get access to the population of users your project is intended to help? Are there enough of them? (You can't repeat users from one user test to the next).
      Do you need any special equipment? Keep in mind that there isn't a budget for buying software or equipment. If you need any special equipment to complete your project, you should talk about where it’s going to come from.
   </div>
</div>
<br>

{# Milestone 1 #}
<div id="milestone1">
   <div class = "row">
      <h3 class="col-5">Milestone 1 (Due 10/11)</h3>
      <div class="col-2 ml-auto d-flex align-items-center">
         <a href='submit.html' target="_blank" class="btn btn-primary">Submit</a>
      </div>
   </div>
   <hr>
   <div class="container-fluid">
      <div>
         <h4>Goals</h4>
         <p>During this milestone, your group will develop a set of requirements for your system based on user research. The goal is to develop an accurate picture of your user community and their needs. You should be consistently on the lookout for sources of bias in the ways that you collect information. Also, make sure that as you gather data you are focused purely on needs. Beware of assuming a design and asking your users for their preferences. <br></p>
         <p>Specifically, your goal is to answer these questions:<br></p>
         <ol>
            <li>Who are your users?</li>
            <li>What are their tasks?</li>
            <li>How do they complete those tasks?</li>
            <li>Why? What are the goals behind the tasks?</li>
            <li>Where? In what context do these tasks occur?<br>
            </li>
         </ol>
         <h4>Deliverables</h4>
         <p>To complete this assignment, you will need to turn in:</p>
         <ul>
            <li>A writeup (Note: If your write up is less than 3-5 pages, that probably means you are leaving out something important. If you want to use more space, feel free.)<br></li>
            <li>Evaluations of your team members (You'll get an email about this after your final milestone has been submitted.)</li>
         </ul>

         <h5>Methods</h5>
         How did you collect your information (include what techniques you used)? Describe what you did in enough detail that another member of the class could go and collect additional information using the same process. If you did an interview, for example, include what specific questions you asked. <br><br>
      </div>
   </div>
</div>
<br>

{# Milestone 2 #}
<div id="milestone2">
   <div class = "row">
      <h3 class="col-5">Milestone 2 (Due 10/30)</h3>
      <div class="col-2 ml-auto d-flex align-items-center">
         <a href='submit.html' target="_blank" class="btn btn-primary">Submit</a>
      </div>
   </div>
   <hr>
   <div class="container-fluid">
     <h4>Goals</h4>
     <p>In this milestone, you are going to take the design requirements from milestone 1 and use them to design a paper prototype. Then, you will iteratively refine the prototype with three rounds of testing. Each round of testing should include at least 3 users. You may not repeat users (i.e. there should be a minimum of 9 distinct users). The goal here is to find and address as many usability problems as you can before you commit your design to code. Changing a paper prototype is significantly less work intensive than changing a digital prototype.&nbsp;<br></p>
     <h4><span>Deliverables</span></h4>
     <p> <span>To complete this assignment, you will need to turn in:<br></span></p>
     <ul>
        <li><span>A writeup (Note: If your write up is less than 3-5 pages, that probably means you are leaving out something important. If you want to use more space, feel free.)</span></li>
        <li>a paper prototype
        </li>
        <li>20 minute in-class presentation</li>
     </ul>

     <h5>Additional Requirements Info: <br></h5>
     Take a critical look at your data from Milestone 1. If there are any shortcomings, please correct them. Include a description of the shortcoming, the technique you used to collect the missing information, and the results. Additionally, if you uncover a need for additional information through your design and user testing process, please collect that information. Describe the information need, collection technique, and results. There should be enough information here to enable someone to collect additional data and to allow the reader to evaluate its validity. As in milestone 1, you should present your results in terms of either new or revised detailed task examples.<br><br>
     <h5>User Testing Results:</h5>
     <div>Over the course of the milestone, you should do three rounds of user tests with at least three users in each. Capture detailed notes about what your users are doing and thinking as they complete your tasks. I should be able to get a strong sense of how each task went from reading through your notes.&nbsp;</div>
     <div><br></div>
     <div>In addition to your detailed notes, please summarize and prioritize the problems users encountered and&nbsp;<span>describe the changes that you made to your prototype to alleviate these problems.</span></div>
     <div><br></div>
   </div>
</div>
<br>

{# Milestone 3 #}
<div id="milestone3">
   <div class = "row">
      <h3 class="col-5">Milestone 3 (Due 11/21)</h3>
      <div class="col-2 ml-auto d-flex align-items-center">
         <a href='submit.html' target="_blank" class="btn btn-primary">Submit</a>
      </div>
   </div>
   <hr>
   <div class="container-fluid">
         <h4>Goals</h4>
         <p>During this milestone, your group will create a digital prototype of your interface. The main goal here is to develop a digital prototype with which you can continue to productively test and iterate. &nbsp;As such, your code is only a means to an end; I won't look at your code. And, if there are ways that you can reduce the overall work by using code you can find on the web or simulating some functionality within your prototype, feel free to do that. However, the interface should always appear to work from the user's perspective and allow a reasonable level of exploration.</p>
         <h4>Deliverables</h4>
         <p>To complete this assignment, you will need to turn in:</p>
         <ul>
            <li>a writeup</li>
            <li>a screencast of your full set of tasks in your digital prototype<br></li>
         </ul>
         Additionally, all members of the team will need to complete team member evaluations.<br><br>
         <h5>User Tasks</h5>
         <div>You have developed and revised a set of user tasks through Milestones 1 and 2. Please include the full list of these. At this point, your task list should be stable so I expect that most groups will be able to copy this information from Milestones 1 and 2. If you have made any changes to this list, please include a section that describes and motivates any changes you have made to this list during this milestone.</div>
         <div>
            <h5>Investigation of Prototyping Tools<br></h5>
            Some tools will make your job of constructing a prototype easier than others. Before you begin implementing, investigate at least two different potential ways to implement your prototype. For example, you might look at html and javascript vs the iphone development kit if you are designing a smart phone application. Discuss the pros and cons of each choice as well as your decision in your write up. <br>
            <h5>Shortcuts</h5>
            Please describe any shortcuts you take in implementing your prototype and discuss their potential implications on your ability to get good data from user testing your prototype. It is completely acceptable to use shortcuts, just choose them carefully so they do not negatively impact your ability to evaluate your interface.<br>
            <p>
            </p>
            <br>
         </div>
	</div>
<br>

{# Milestone 4 #}
<div id="milestone4">
   <div class = "row">
      <h3 class="col-5">Milestone 4 (Due 12/9)</h3>
      <div class="col-2 ml-auto d-flex align-items-center">
         <a href='submit.html' target="_blank" class="btn btn-primary">Submit</a>
      </div>
   </div>
   <hr>
   <div class="container-fluid">
        <p>
        </p>
        <h4>Goals</h4>
        <div>The goal of the final milestone is to complete a polished digital prototype for your application. To achieve this,&nbsp;<span>you will do some additional user testing and apply a non-user based evaluation technique to further improve your interface. You should complete two rounds of user testing with at least 3 users in each round for a total of six distinct users. These should be different users than have worked with your interface in previous milestones. In addition, you should select an evaluation technique appropriate for use without users (heuristic evaluation, GOMS, or cognitive walkthrough) and use it to further improve your interface. Alternating user testing and non-user based evaluation is often a good schedule. You can do the user testing and non-user evaluation in any order, but your interface should go through a minimum of three new iterations in this milestone.</span></div>
        <h4>Deliverables</h4>
        <p>To complete this assignment, you will need to turn in:</p>
        <ul>
           <li><span>A writeup (Note: If your write up is less than 3-5 pages, that probably means you are leaving out something important. If you want to use more space, feel free.)</span></li>
           <li><span>A screencast of your user tasks.</span></li>
           <li>20 minute in-class presentation during the final exam slot. Each group should plan to demo their final prototype as part of the presentation.</li>
        </ul>
        <br> Your writeup and presentation should include:<br><br>
        <h5>User Testing Results:</h5>
        <div>Over the course of the milestone, you should do three rounds of user tests with at least three users in each. Capture detailed notes about what your users are doing and thinking as they complete your tasks. I should be able to get a strong sense of how each task went from reading through your notes.&nbsp;</div>
        <div><br></div>
        <div>describe the changes that you made to your prototype to alleviate these problems.</span></div>
        <br>
        <h4>Non User Based Evaluation:</h4>
        <div>Please discuss your choice of the non-user based evaluation technique. The goal here is to choose the technique that provides the most benefit for your application. This will not necessarily be the one that is easiest to do. Then, provide a full writeup of your analysis. As with user testing results, please summarize and prioritize the problems you uncover and describe the changes that you made to your prototype to alleviate these problems.&nbsp;</div>
        <br><br>
    </div>
   </div>
</div>
<br>
	
{% endblock core %}