{% extends "base.html" %}
			
{% block core %}

	<h3>HCI Design Project</h3>
	<hr>

	<div class="container-fluid">

		<p>Everyone will participate in a semester-long HCI design project which will provide an opportunity to use the techniques we cover in class in much greater depth.
		</p><p>The design project consists of several parts:</p>

		<div><a href = "#project-pitch" >Project Pitch: </a> Due 9/15</div>
		<div><a href = "#milestone1" >Milestone 1:</a>  Due 10/11</div>
		<div><a href = "#milestone2" >Milestone 2: </a>Due 10/30</div>
		<div><a href = "#milestone3">Milestone 3: </a>Due 11/21</div>
		<div><a href = "#milestone4"> Milestone 4: </a>Due 12/9</div>
		<br><br><br>

	</div>


	<h3 id="project-pitch">Project Pitch</h3>
	<hr>
	<div class="container-fluid">
		Over the course of the semester, everyone will work on a group project. To select the projects and the groups, everyone in the class will present an idea for a project. Then, we'll select 3-5 of the projects presented as the group projects for the semester based on interest.
		<br><br>

		For this assignment, you'll need to deliver a 1-2 minute in-class presentation describing your proposed project. The goal of the project pitch is to entice others to vote for your project. All pitches received on time will receive full credit. In trying to convince others to vote for your project, you should address the following questions:

		<br>

	</div>
	

	<h3 id="milestone1">Milestone 1</h3>
	<hr>

	<div class="container-fluid">
		
	
	</div>
	<h3 id="milestone2">Milestone 2</h3>
	<hr>

	<div class="container-fluid">
		
	
	</div>
	
	<h3 id="milestone3">Milestone 3</h3>
	<hr>

	<div class="container-fluid">
		
	
	</div>
	
	<h3 id="milestone4">Milestone 4</h3>
	<hr>

	<div class="container-fluid">
		
	
	</div>
	
	
	
{% endblock core %}